@import url('colorscheme.css');

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: var(--background-color);
    width: 15%;
    height: 2em;
    margin: auto;
    transition: background-color 0.5s ease-in-out;
    font-weight: bold;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

}

.category:hover {
    background-color: var(--accent-color);
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}