@import url('colorscheme.css');

.input-box {
    border-radius: 2em;
    border-style: none;
    background-color: rgb(202, 202, 202);
    padding: 0.25em;
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}