.login-container {
    border-radius: 15px;
    border-style: none;
    background-color: var(--background-color);
    margin: 1em 1em 1em 1em;
    padding: 0.5em;
    text-align: center;
    width: 50%;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 15%;
}

.login-container input {
    border-radius: 15px;
    border-style: none;
    background-color: rgb(202, 202, 202);
    margin: 0 0 0 1em;
    padding: 0.25em;
    text-align: center;
    width: 50%;
    font-weight: bold;
    color: black;
}

.form-actions {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    width: 100%;
}

.button {
    color: black;
    border-radius: 1em;
    background-color: var(--background-color);
    border-style: none;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
    font-size: 0.85em;
    transition: background-color 0.5s ease-in-out;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 50%;

}

.button:hover {
    background-color: var(--accent-color);
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}