.route {
    width: 100%;
    flex: 1;
    margin: 0 0 0 0;
    max-height: 2vh;
}

.route p {
    color: rgb(145, 145, 145);
    text-align: left;
    vertical-align: middle;
    padding: 0.5em 0 0 1.5em;
}