@import url('colorscheme.css');

.card {
    background-color: var(--background-color);
    width: 10rem;
    height: 7em;
    margin: 1em 1em 0 1em;
    padding: 1em 1em 1em 1em;
    border-radius: 1em;
    color: var(--text-color);
    gap: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-title {
    font-size: 1.25em;
    font-weight: bolder;
    margin: 0;
}

.item-price {
    font-size: 1em;
    margin: 0.5em 0 0.5em 0;
}

.item-button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    padding: 0.6em;
    font-size: 0.9em;
}

.item-button:hover {
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}